### Домашнее задание

Прочитать про методы оптимизации для нейронных сетей https://habr.com/post/318970/

Реализовать самостоятельно логистическую регрессию

Обучить ее методом градиентного спуска

Методом nesterov momentum

Методом rmsprop

В качестве dataset'а взять Iris, оставив 2 класса:

Iris Versicolor

Iris Virginica

In [18]:
from sklearn import datasets
from matplotlib import pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd

In [10]:
iris = datasets.load_iris()

In [16]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [12]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [23]:
iris_frame = pd.DataFrame(iris.data)
iris_frame.columns = iris.feature_names
iris_frame['target'] = iris.target
iris_frame['name'] = iris_frame.target.apply(lambda x : iris.target_names[x])
iris_frame.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [61]:
data = iris_frame[iris_frame['target']>=1]
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,name
50,7.0,3.2,4.7,1.4,1,versicolor
51,6.4,3.2,4.5,1.5,1,versicolor
52,6.9,3.1,4.9,1.5,1,versicolor
53,5.5,2.3,4.0,1.3,1,versicolor
54,6.5,2.8,4.6,1.5,1,versicolor

In [63]:
data['target'].replace(2, -1, inplace = True)
data.head()

C:\FORPIT2\FFF\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,name
50,7.0,3.2,4.7,1.4,1,versicolor
51,6.4,3.2,4.5,1.5,1,versicolor
52,6.9,3.1,4.9,1.5,1,versicolor
53,5.5,2.3,4.0,1.3,1,versicolor
54,6.5,2.8,4.6,1.5,1,versicolor

In [64]:
data.target.unique()

array([ 1, -1])

In [65]:
X=data[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']]
y=data[['target']]

In [66]:
def logistic_regression(x, b): # функция логистической регрессии
    x_new = np.array([0])
    x_new=np.concatenate((x_new, x))
    z=np.dot(x_new,b)
    y=np.exp(z)/(1+np.exp(z))
    if y<=0.5:
        return(-1)
    else:
        return(1)

In [67]:
def log_loss(X,y,b0,b1,b2,b3,b4): # логистическая функция потерь
    b = np.array([b0,b1,b2,b3,b4])
    log_loss=0
    for i in range(len(X)):
        x=np.array(X.iloc[i])
        x_new = np.array([0])
        x_new=np.concatenate((x_new, x))
        z=np.dot(x_new,b)
        log_loss=log_loss+np.log(1+np.exp(-y.iloc[i]*z))
    return log_loss

Метод градиентного спуска.

In [68]:
def target_log_loss(b0,b1,b2,b3,b4): # функция для наших данных
    return log_loss(X,y,b0,b1,b2,b3,b4)

In [69]:
def grad(b0,b1,b2,b3,b4,delta): # функция для градиента
    df0=(target_log_loss(b0+delta,b1,b2,b3,b4)-target_log_loss(b0-delta,b1,b2,b3,b4))/(2*delta)
    df1=(target_log_loss(b0,b1+delta,b2,b3,b4)-target_log_loss(b0,b1-delta,b2,b3,b4))/(2*delta)
    df2=(target_log_loss(b0,b1,b2+delta,b3,b4)-target_log_loss(b0,b1,b2-delta,b3,b4))/(2*delta)
    df3=(target_log_loss(b0,b1,b2,b3+delta,b4)-target_log_loss(b0,b1,b2,b3-delta,b4))/(2*delta)
    df4=(target_log_loss(b0,b1,b2,b3,b4+delta)-target_log_loss(b0,b1,b2,b3,b4-delta))/(2*delta)
    return df0,df1,df2,df3,df4

In [70]:
def grad_desc(b0,b1,b2,b3,b4,delta,step,it): # функция для градиентного спуска
    for i in range(it):
        b0=b0-step*grad(b0,b1,b2,b3,b4,delta)[0]
        b1=b1-step*grad(b0,b1,b2,b3,b4,delta)[1]
        b2=b2-step*grad(b0,b1,b2,b3,b4,delta)[2]
        b3=b3-step*grad(b0,b1,b2,b3,b4,delta)[3]
        b4=b4-step*grad(b0,b1,b2,b3,b4,delta)[4]
    return b0,b1,b2,b3,b4

In [ ]:
b0=1
b1=1
b2=1
b3=1
b4=1
delta=1
step=0.0008
it=5
b=grad_desc(b0,b1,b2,b3,b4,delta,step,it)

In [ ]:
target_log_loss(b[0],b[1],b[2],b[3],b[4])