Использовать dataset MovieLens

Построить рекомендации (регрессия, предсказываем оценку) на фичах:

TF-IDF на тегах и жанрах

Средние оценки (+ median, variance, etc.) пользователя и фильма

Оценить RMSE на тестовой выборке

In [43]:
import pandas as pd
import numpy as np
import scipy

from tqdm import tqdm_notebook

from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer
from sklearn.neighbors import NearestNeighbors

%matplotlib inline

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso

In [45]:
links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

In [46]:
links.head(1)

   movieId  imdbId  tmdbId
0        1  114709   862.0

In [47]:
movies.head(1)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [48]:
ratings.head(1)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703

In [49]:
tags.head(1)

   userId  movieId    tag   timestamp
0       2    60756  funny  1445714994

In [50]:
# добавим к рейтингам инфо по фильмам
movies_with_rating = ratings.join(movies.set_index('movieId'), on='movieId')

In [51]:
# отберем только фильмы рейтингом, по которым есть теги
movies_with_tags = tags.movieId.unique()
movies_with_rating_tags = movies_with_rating[movies_with_rating.movieId.isin(movies_with_tags)]

In [52]:
# создадим агрегированные фичи
movies_agg = movies_with_rating_tags.groupby(by='movieId').agg(['mean', 'count', 'var']).rating.reset_index()

In [76]:
movies_agg[movies_agg['var']==0]

      movieId  mean  count  var
32         96   3.5      1  0.0
71        279   3.0      2  0.0
97        363   4.0      2  0.0
117       488   3.0      1  0.0
154       638   3.0      1  0.0
...       ...   ...    ...  ...
1532   156605   4.5      1  0.0
1534   158966   4.5      5  0.0
1541   170945   3.5      1  0.0
1549   183611   4.0      1  0.0
1553   193565   3.5      1  0.0

[205 rows x 4 columns]

In [54]:
# var при 1 оценки NaN, заменим на 0
movies_agg.fillna(0, inplace = True)

In [77]:
movies_with_rating_agg = movies_agg.merge(movies, on='movieId', how='left')

In [78]:
movies_with_rating_agg.head()

,movieId,mean,count,var,title,genres
0,1,3.920930,215,0.696990,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,3.431818,110,0.777419,Jumanji (1995),Adventure|Children|Fantasy
2,3,3.259615,52,1.112651,Grumpier Old Men (1995),Comedy|Romance
3,5,3.071429,49,0.822917,Father of the Bride Part II (1995),Comedy
4,7,3.185185,54,0.955625,Sabrina (1995),Comedy|Romance

In [79]:
grouped_tags = tags.groupby(by='movieId')

film_tags = {}
for key, value in grouped_tags.groups.items():
    film_tags[key] = tags.loc[value.values].tag.tolist()

In [80]:
movies_with_rating_agg['tags'] = movies_with_rating_agg.apply(lambda x: film_tags[x.movieId], axis=1)

In [81]:
def change_string(s):
    return ' '.join(s.replace(' ', '').replace('-', '').split('|'))

In [82]:
movies_with_rating_agg['genres'] = [change_string(g) for g in movies_with_rating_agg.genres.values]

In [83]:
movies_with_rating_agg['tags'] = movies_with_rating_agg.apply(lambda x: ' '.join(x.tags), axis=1)

In [85]:
# соберем вместе жанры и теги
movies_with_rating_agg['genres_tags'] = movies_with_rating_agg.apply(lambda x: x.genres + ' ' + x.tags, axis=1)

In [86]:
# уберем лишнее
movies_with_rating_agg.drop(columns=['genres', 'tags'], inplace=True)

In [87]:
genres_tags = movies_with_rating_agg.genres_tags.tolist()

In [88]:
count_vect = CountVectorizer()
X_counts = count_vect.fit_transform(genres_tags)

In [89]:
tfidf_transformer = TfidfTransformer()
X_tfidf = tfidf_transformer.fit_transform(X_counts)

In [90]:
X_tfidf = X_tfidf.toarray()

In [91]:
df_X_tfidf = pd.DataFrame(X_tfidf, index=movies_with_rating_agg.movieId)

In [92]:
df = movies_with_rating_agg.merge(df_X_tfidf, on='movieId')

In [93]:
df

,movieId,mean,count,var,title,genres_tags,0,1,2,3,...,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745
0,1,3.920930,215,0.696990,Toy Story (1995),Adventure Animation Children Comedy Fantasy pi...,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,3.431818,110,0.777419,Jumanji (1995),Adventure Children Fantasy fantasy magic board...,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,3.259615,52,1.112651,Grumpier Old Men (1995),Comedy Romance moldy old,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5,3.071429,49,0.822917,Father of the Bride Part II (1995),Comedy pregnancy remake,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7,3.185185,54,0.955625,Sabrina (1995),Comedy Romance remake,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549,183611,4.000000,1,0.000000,Game Night (2018),Action Comedy Crime Horror Comedy funny Rachel...,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1550,184471,2.500000,4,1.833333,Tomb Raider (2018),Action Adventure Fantasy adventure Alicia Vika...,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1551,187593,3.875000,12,1.505682,Deadpool 2 (2018),Action Comedy SciFi Josh Brolin Ryan Reynolds ...,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1552,187595,3.900000,5,0.550000,Solo: A Star Wars Story (2018),Action Adventure Children SciFi Emilia Clarke ...,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1553,193565,3.500000,1,0.000000,Gintama: The Movie (2010),Action Animation Comedy SciFi anime comedy gin...,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0